-r requirements.txt
alchemy-mock
coreapi
coverage
django-extensions
djangorestframework
flake8
importanize
mock
pdbpp
ptpython
pytest
pytest-cov
pytest-django
sphinx
sphinx-autobuild
sphinx-rtd-theme
sqlalchemy
tox
watchdog
werkzeug
