name: Run tests

on:
  pull_request:
  push:
  schedule:
    - cron:  "0 0 4 * *"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.6'
          - 'pypy-3.6'
          - '3.7'
          - 'pypy-3.7'
          - '3.8'
          - 'pypy-3.8'
          - '3.9'
          - 'pypy-3.9'
          - '3.10'


    steps:
    - uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-dev.txt
        python -m pip install tox-gh-actions

    - name: Test with tox
      run: tox
